{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "prettier",
    "css-modules"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:css-modules/recommended"
  ],
  "rules": {}
}