.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons__comment {
  position: relative;
}

.screen-header__icons__comment__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1px;
  bottom: 5px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: white;
  font-weight: 800;
}

.screen-header__icons__cog {
  position: relative;
}

.screen-heacer__icons__cog-notification {
  left: 22px;
  bottom: 22px;
}
