#friends-display-link {
  display: block;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 15px 0px;
  background-color: #fafafa;
  font-size: 18px;
  text-align: center;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

#friends-display-link i:last-child {
  margin-left: 8px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--separator);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  font-size: 132px;
  animation: hideSplashScreen 1s ease-in-out forwards;
}
