.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  text-align: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  margin-bottom: 25px;
  border: none;
  padding: 15px 0px;
  font-size: 18px;
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--separator);
  transition: border-color 0.3s ease;
}

#login-form input[type="submit"] {
  border-radius: 5px;
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form a {
  color: inherit;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}
